
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sapat Bookkeeper</title>

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/vue.min.js' %}"></script>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/all.min.js' %}"></script>
<head>
    <body>
        <div id="container">
            <div class="left-menu">
                <div class="logo">
                    <img src="/media/sapat.png">
                </div>
                <div class="forms">
                    <ul>
                        <li><a href="/"><b>My History<b></a></li>
                        <li><a href="/preorder_approval/"><b>Preorder Approval</b></a></li>
                        <li><a href="/stock_incentive/"><b>Stock Incentive</b></a></li>
                    </ul>
                </div>
                <div class="logout"><a href="/accounts/logout/" class="btn btn-primary"><b>Logout</b></a></div> 
            </div>
            <div class="right-output">
                <div class="user-info">
                    <div class="bookkeeper">Bookkeeper</div>
                    <div class="notifs"><i class="fas fa-lg fa-bell"></i></div>
                    <div class="name"><b>Hi, {{ user.first_name}} {{user.last_name}}</b></div>
                </div>
                {% block content %}
                {% endblock %}
            </div>
        <div>
        {% comment %} <div class="top-bar"> {% endcomment %}
        {% comment %}     <div class="input-group mb-3"> {% endcomment %}
        {% comment %}         <button class="btn btn-outline-secondary" type="button" id="button-addon1"><i class="fas fa-search"></i></button> {% endcomment %}
        {% comment %}         <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"> {% endcomment %}
        {% comment %}     </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
        {% comment %} <div id="container"> {% endcomment %}
        {% comment %}     <div class="forms"> {% endcomment %}
        {% comment %}     </div> {% endcomment %}
        {% comment %}     <div class="forms-output"> {% endcomment %}
        {% comment %}         {% block content %} {% endcomment %}
        {% comment %}         {% endblock %} {% endcomment %}
        {% comment %}     </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    </body>
</html>
